.container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 160px;
    width: 310px;
    height: 220px;
    padding: 16px;
    border-radius: 6px;
    border: 2px solid #673de6;
    background: rgb(0, 0, 0);
}

.content-h2 {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.content-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.content-form>p {
    margin-left: 4px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.content-form>.input-userName {
    width: 100%;
    height: 32px;
    padding: 10px 8px;
    border-radius: 6px;
    font-size: 12px;
    background: transparent;
    border: 2px solid #21262d;
    color: white;
}

.content-form>.input-userName:focus {
    border: 2px solid #673de6;
}

.content-form>.search-button {
    width: 100%;
    height: 38px;
    border-radius: 0.6rem;
    text-transform: uppercase;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid #21262d;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.content-form>.search-button:hover {
    background: #010409;
    color: rgb(230, 230, 230);
    border: 2px solid #673de6;
}


@media (min-width: 600px) {

}